@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html {
background-color: #77aa77;
background-attachment: fixed;
background-size: cover;

}

body{
   font-family: 'Poppins', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#view-map h2{
   font-family: 'Poppins', sans-serif;
   font-size: 3em;
   margin: .2em .2em;
}

section{
   display: flex;
}

.cards{
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.centered{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#choose-pet{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#choose-attack{
   flex-direction: column;
   align-items: center;
}

#messages{
   flex-direction: column;
   align-items: center;
}

.attack-messages{
   display: grid;
   grid-template-columns: 100px 100px;
}

.info-messages{
   display: grid;
   grid-template-columns: 100px 100px;
   background-color: #b96d92;
   border-radius: 5px;
   column-gap: 10px;
   margin-top: 10px;
}

.attack-messages{
   display: grid;
   grid-template-columns: 100px 100px;
   border-radius: 5px;
   column-gap: 10px;
}

.mokepon-card{
   background-color: aquamarine;
   box-sizing: border-box;
   padding: 10px;
   border-radius: 20px;
}

.mokepon-card img{
   width: 80px;
}

input:checked + label {
   background-color: lightblue;
   border-color: gray;
   border-width: 2px;
   border-style: solid;
}

.btn-attack{
   display: grid;
   margin-top: 10px;
   border-radius: 15px; 
   border: none;
   background-color: #F3ECB0;
}


.attack-message-box{
   background-color: #1C82AD;
   border-radius: 8px;
   display: grid;
   grid-auto-flow: column;
   grid-column-gap: 10px;
   grid-row-gap: 10px;
   justify-content: center;
}

#btn-pet{
   width: 180px;
   height: 50px;
   border-radius: 20px;
   background: transparent;
   border: 2px solid white;
   font-family: 'Poppins', sans-serif;
   margin-top: 20px;

}

@media(max-width: 678px){
  .cards{
      flex-direction: column;
  } 
  .btn-attack{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
  }
}

input{
   display: none;
}

#view-map{
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.btn-movement{
   display: grid;
   gap: .25rem;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(3,1fr);
   border-radius: 20px;
   
}
#btn-movement-up:hover{
   background-color: aquamarine;
}
#btn-movement-up{
   display: flex;
   align-self: center;
   justify-self: center;
   padding: 10px 10px 10px 10px;
   grid-column: 2/3;
   background-color: blueviolet;
}
#btn-movement-down{
   display: flex;
   align-self: center;
   justify-self: center;
   padding: 10px 10px 10px 10px;
   grid-column: 2/3;
   grid-row: 3/4;
   background-color: blueviolet;
}
#btn-movement-down:hover{
   background-color: aquamarine;
}
#btn-movement-left{
   display: flex;
   align-self: center;
   justify-self: center;
   padding: 10px 10px 10px 10px;
   grid-column: 1/2;
   grid-row: 2/3;
   background-color: blueviolet;
}
#btn-movement-left:hover{
   background-color: aquamarine;
}
#btn-movement-right{
   display: flex;
   align-self: center;
   justify-self: center;
   padding: 10px 10px 10px 10px;
   grid-column: 3/4;
   grid-row: 2/3;
   background-color: blueviolet;
}
#btn-movement-right:hover{
   background-color: aquamarine;
}

